.navbar {
    justify-content: space-between;
    background-color: black;
}

span {
    padding-right: 1rem;
    color: whitesmoke;
}

::ng-deep .fullscreen_icon {
    width: 25px !important;
    height: 25px !important;
    font-size: 25px !important;
    color: #fd3f92;
}

.main_heading{
    padding-left: 50px;
    font-size: 40px;
    font-weight: bold;
    padding-top: 100px;
    color: #ff0000;
    line-height: 1.2;
}

.main_subheading{
    padding-left: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    line-height: 1.2;
    color: whitesmoke;
}