.navbar {
    justify-content: space-between;
    background-color: black;
}

span {
    padding-right: 1rem;
    color: whitesmoke;
}

.main_heading{
    padding-left: 50px;
    font-size: 40px;
    font-weight: bold;
    padding-top: 100px;
    color: darkorchid;
    line-height: 1.2;
}

.main_subheading{
    padding-left: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    line-height: 1.2;
}