<div class="covid-tracker-homepage">
    <mat-toolbar class="navbar">
        <div>
            <img class="logo-position" src="../../assets/covid19.png" alt="covid19 logo" height="200px" width="200px" style="margin-top: 60px;">
        </div>

        <div fxHide.lt-sm = "true">
            <span>Home</span>
            <span>Whitepapers</span>
            <span>About</span>
        </div>
    </mat-toolbar>

    <div class="covid-logo-section" fxLayout="row">
        <div fxFlex="50">
            <h1 @slideInFromLeft class="main_heading">Get live data from COVID19 tracker for better decisions in an uncertain situation.</h1>
            <p @slideInFromLeft class="main_subheading">Stay up-to-date with valuable coronavirus (COVID-19) data summarized by confirmed cases, geography, testing and treatment, projections, and economic impact.</p>
        </div>
        <div fxFlex="50">
            <img @slideInFromRight src="../../assets/coronavirus.png"  alt="coronavirus picture" style="width: 700px;height: 500px;padding-top: 50px;">
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="covid-cases-section" fxLayout="row" fxLayoutAlign="space-around center" style="padding-top: 25px;">
        <div fxLayout="column" [style.width.pc]=20 style="padding-left: 20px;">
            <mat-card id="covid-cases-recovered" class="mat-elevation-z6" style="border:2px solid #3fff00;">
              <mat-card-subtitle style="text-align: center;color: #3fff00;" id="recovered-subtitle">
                  Recovered
              </mat-card-subtitle>
              <mat-card-content id="recovered-content" style="text-align: center;font-size: 20px;font-weight: bold;color: #3fff00;">
                  {{this.covidData.recovered | number}}
              </mat-card-content>
              <mat-card-content id="recoveredCases"></mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" [style.width.pc]=20>
            <mat-card id="covid-cases-recovered" class="mat-elevation-z6" style="border:2px solid #ff0800;">
              <mat-card-subtitle style="text-align: center;color: #ff0800;">
                  Confirmed
              </mat-card-subtitle>
              <mat-card-content id="confirmed-content" style="text-align: center;font-size: 20px;font-weight: bold;color: #ff0800;">
                {{this.covidData.cases | number}}
              </mat-card-content>
              <mat-card-content id="confirmedCases"></mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" [style.width.pc]=20>
            <mat-card id="covid-cases-recovered" class="mat-elevation-z6" style="border:2px solid #0f52ba;">
              <mat-card-subtitle style="text-align: center;color: #0f52ba;">
                  Active
              </mat-card-subtitle>
              <mat-card-content id="active-content" style="text-align: center;font-size: 20px;font-weight: bold;color: #0f52ba;">
                {{this.covidData.active | number}}
              </mat-card-content>
              <mat-card-content id="activeCases"></mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" [style.width.pc]=20>
            <mat-card id="covid-cases-recovered" class="mat-elevation-z6" style="border:2px solid grey;">
              <mat-card-subtitle style="text-align: center;color: #808080;">
                  Deceased
              </mat-card-subtitle>
              <mat-card-content id="deceased-content" style="text-align: center;font-size: 20px;font-weight: bold;color: grey;">
                {{this.covidData.deaths | number}}
              </mat-card-content>
              <mat-card-content id="deceasedCases"></mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-divider style="margin-top: 20px;"></mat-divider>

    <div>
        Swaraj
    </div>

</div>