<div class="covid-tracker-homepage">
    <mat-toolbar class="navbar">
        <div>
            <img class="logo-position" src="../../assets/covid19.png" alt="covid19 logo" height="200px" width="200px" style="margin-top: 60px;">
        </div>

        <div fxHide.lt-sm = "true">
            <span>Home</span>
            <span>Whitepapers</span>
            <span>About</span>
        </div>
    </mat-toolbar>

    <div class="covid-logo-section" fxLayout="row">
        <div fxFlex="50">
            <h1 @slideInFromLeft class="main_heading">Get live data from COVID19 tracker for better decisions in an uncertain situation.</h1>
            <p @slideInFromLeft class="main_subheading">Stay up-to-date with valuable coronavirus (COVID-19) data summarized by confirmed cases, geography, testing and treatment, projections, and economic impact.</p>
        </div>
        <div fxFlex="50">
            <img @slideInFromRight src="../../assets/coronavirus.png"  alt="coronavirus picture" style="width: 700px;height: 500px;padding-top: 50px;">
        </div>
    </div>
</div>